<div th:fragment="editPassword(title)">
    <div class="bodyMain content_center_row">
        <div class="safePhoneVerify" id="editPwd">
            <div class="content_center_row">
                <div class="phoneCode">
                    <table>
                        <tr>
                            <td style="font-size: 14px;color:#6c6c6c;text-align: right">输入用户名或手机号：</td>
                            <td style="font-size: 12px;color:#6c6c6c;padding:15px 0;">
                                <input v-model="nameOrPhone" type="text" class="form-control" placeholder="用户名或手机号">
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 14px;color:#6c6c6c;text-align: right">输入新密码：</td>
                            <td style="font-size: 12px;color:#6c6c6c;padding:15px 0;">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input v-model="password" type="password" class="form-control inputPwd" id="pwd_1" placeholder="请输入新密码">
                                            <span style="position:relative; top:0;bottom: 0" class="input-group-addon" @mousedown="openEye" @mouseup="closeEye"><i class="eye glyphicon glyphicon-eye-close"></i></span>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 14px;color:#6c6c6c;text-align: right">确认密码：</td>
                            <td style="padding:15px 0;">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input v-model="comfirmPwd" type="password" class="form-control inputPwd" id="pwd_2" placeholder="请输入确认密码">
                                            <span style="position:relative; top:0;bottom: 0" class="input-group-addon" @mousedown="openEye" @mouseup="closeEye"><i class="eye glyphicon glyphicon-eye-close"></i></span>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="errorMessage" style="text-align:center;color:#843534;font-weight: 700;background: #f1dddd;padding:4px;border-radius: 5px"></div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="padding:15px 0;">
                                <button @click="editPassword" type="button" class="btn btn-info">确定</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            let dataVue = {
                password:'',
                comfirmPwd:'',
                nameOrPhone:'',
                user:{name:'', phone:'', password:''},
            };
            let vue = new Vue({
                el:"#editPwd",
                data:dataVue,
                mounted:function(){
                    this.load();
                },
                watch:{
                  async password(newVal){
                      $(".errorMessage").hide();
                      if(this.password === this.comfirmPwd && this.password === ''){
                          $("#pwd_1, #pwd_2").css({
                              border:"1px solid #ccc",
                              color:"#555"
                          })
                          $("div.errorMessage").html("");
                          return
                      }
                      $("#pwd_1").css({
                          border:"2px solid #3c763d",
                          color:"#3c763d"
                      })
                      if(this.comfirmPwd !== ''){

                      }
                      if(this.password !== this.comfirmPwd){
                          $("#pwd_1, #pwd_2").css({
                              border:"2px solid #a84442",
                              color:"#a84442"
                          })
                          $("div.errorMessage").html("密码不一致，请仔细核对");
                          $(".errorMessage").show();
                      }else{
                          $("#pwd_1, #pwd_2").css({
                              border:"2px solid #3c763d",
                              color:"#3c763d"
                          })
                          $("div.errorMessage").html("");
                      }
                  },
                  async comfirmPwd(newVal){
                      $(".errorMessage").hide();
                      if(this.password === this.comfirmPwd && this.password === ''){
                          $("#pwd_1, #pwd_2").css({
                              border:"1px solid #ccc",
                              color:"#555"
                          })
                          $("div.errorMessage").html("");
                          return
                      }
                      $("#pwd_2").css({
                          border:"2px solid #3c763d",
                          color:"#3c763d"
                      })
                      if(this.password !== this.comfirmPwd){
                          $("#pwd_1, #pwd_2").css({
                              border:"2px solid #a84442",
                              color:"#a84442"
                          })
                          $("div.errorMessage").html("密码不一致，请仔细核对");
                          $(".errorMessage").show();
                      }else{
                          $("#pwd_1, #pwd_2").css({
                              border:"2px solid #3c763d",
                              color:"#3c763d"
                          })
                          $("div.errorMessage").html("");
                      }
                  }
                },
                methods:{
                    load(){
                        $(".errorMessage").hide();
                    },
                    editPassword() {
                        if(!checkEmpty(this.nameOrPhone, "用户名或手机号"))
                            return
                        if(!checkEmpty(this.password, "密码"))
                            return
                        let errorMessage = $("div.errorMessage").html();
                        if(errorMessage === ''){
                            vue.user.password = this.password;
                            let reg=/^[0-9]{6,11}$/;
                            if(reg.test(vue.nameOrPhone)){
                                vue.user.phone = vue.nameOrPhone;
                            }else{
                                vue.user.name = vue.nameOrPhone;
                            }
                            axios.post("editPasswordNoLog",vue.user).then(function(response){
                                let result = response.data;
                                if(result.code === 0){
                                    alert("密码修改成功！");
                                    location.href = "editPasswordSuccess";
                                }else{
                                    alert("该用户不存在！");
                                }
                            })
                        }
                    },
                    openEye:function(){
                        let eye = $(".eye");
                        let inputPwd = $(".inputPwd");
                        $.each(eye, function(index, value){
                            if($(value).attr("class") === 'eye glyphicon glyphicon-eye-close'){
                                $(value).attr("class", "eye glyphicon glyphicon-eye-open")
                                inputPwd.attr("type", "text")
                            }
                        })
                    },
                    closeEye:function(){
                        let eye = $(".eye");
                        let inputPwd = $(".inputPwd");
                        $.each(eye, function(index, value){
                            if($(value).attr("class") === 'eye glyphicon glyphicon-eye-open'){
                                $(value).attr("class", "eye glyphicon glyphicon-eye-close")
                                inputPwd.attr("type", "password")
                            }
                        })
                    }
                }
            })
        })
    </script>
</div>