<div th:fragment="userInfo">
<div class="userInfo" id="userInfo">
    <div class="userNameAndHeadPic">
        <div class="bigBox">
            <div class="titleBig">
                <div class="title_left headPic">
                    <img th:src="@{''+${session.user.photo}}" alt="" height="50px">
                </div>
                <div class="title_left headName">
                    <span>{{user.nickname}}</span><br>
                    <span style="font-weight: normal;font-size: 13px">账户</span>
                </div>
                <div style="clear: both"></div>
            </div>
            <a @click="myInfo">个人信息</a>
            <a @click="addressInfo">收货地址</a>
            <a href="myorder">订单信息</a>
        </div>
    </div>
    <div class="mainBody">
        <div class="selectProductInfo">
            <div @click="myInfo">个人信息</div>
            <div @click="addressInfo">收货地址</div>
            <div @click="safeInfo">安全管理</div>
        </div>
        <div class="funcToggle mainInfo">
            <table class="table">
                <tr>
                    <th style="border-top:0">个人信息</th>
                </tr>
                <tr>
                    <td>
                        <table class="baseInfo">
                            <tr>
                                <td class="w_100">当前头像</td>
                                <td class="content_center_row_left">
                                    <div style="width: 60px;height: 60px;overflow: hidden">
                                        <img height="60px" :src="path" alt="">
                                    </div>
                                    <input multiple="multiple" style="padding-left:20px" id="changeImg" type="file" accept="image/*" @change="getFile($event)">
                                </td>
                            </tr>
                            <tr>
                                <td><span class="redColor">*&nbsp;</span>昵称</td>
                                <td>
                                    <input v-model="userInfo.nickname" type="text" class="form-control w_400" placeholder="Text input">
                                </td>
                            </tr>
                            <tr>
                                <td>真实姓名</td>
                                <td>
                                    <input v-model="userInfo.realname" type="text" class="form-control w_400" placeholder="Text input">
                                </td>
                            </tr>
                            <tr>
                                <td><span class="redColor">*&nbsp;</span>性别</td>
                                <td>
                                    <label class="radio-inline">
                                        <input class="sex" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 男
                                    </label>
                                    <label class="radio-inline">
                                        <input class="sex" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 女
                                    </label>
                                    <label class="radio-inline">
                                        <input class="sex" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option2"> 保密
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="redColor">*&nbsp;</span>地址信息
                                </td>
                                <td class="content_center_row_left">
                                    <select v-model="address.province" class="form-control w_120">
                                        <option value="">选择省</option>
                                        <option v-for="p in provinces">{{p.name}}</option>
                                    </select>
                                    <select v-model="address.city" class="form-control w_120">
                                        <option value="">选择市</option>
                                        <option v-for="c in cities">{{c.name}}</option>
                                    </select>
                                    <select v-model="address.county" class="form-control w_120">
                                        <option value="">选择区/县</option>
                                        <option v-for="ct in counties">{{ct.name}}</option>
                                    </select>
                                    <select v-model="address.town" class="form-control w_120">
                                        <option value="">选择城镇/街道</option>
                                        <option v-for="t in towns">{{t.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>默认地址: {{user.address}} {{user.detail}}</td>
                            </tr>
                            <tr>
                                <td>详细地址</td>
                                <td>
                                    <textarea v-model="detail" class="form-control w_400" rows="3"></textarea>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button @click="userInfoSave" style="margin-left:100px" type="button" class="btn btn-primary btn-sm active">点击保存</button>
                    </td>
                </tr>
            </table>
        </div>
        <div style="display: none" class="funcToggle safeInfo">
            <table class="table">
                <tr>
                    <th style="border-top:0">安全信息</th>
                </tr>
                <tr>
                    <td>
                        <table class="baseInfo safeModify">
                            <tr>
                                <td class="w_100">登录用户名</td>
                                <td colspan="2">{{user.name}}</td>
                            </tr>
                            <tr>
                                <td>绑定手机</td>
                                <td v-if="(user.phone != '') && (user.phone != null)">{{user.phone | phoneHideFilter}}</td>
                                <td v-if="(user.phone == '') || (user.phone == null)">您尚未设置手机号</td>
                                <td v-if="(user.phone != '') && (user.phone != null)" class="p_l_30"><a @click="editPhone">修改手机号</a></td>
                                <td v-if="(user.phone == '') || (user.phone == null)" class="p_l_30"><a @click="addPhone">添加手机号</a></td>
                            </tr>
                            <tr>
                                <td>绑定邮箱</td>
                                <td v-if="(user.email != '') && (user.email != null)">{{user.email}}</td>
                                <td v-if="(user.email == '') || (user.email == null)">您尚未设置登录邮箱</td>
                                <td v-if="(user.email != '') && (user.email != null)" class="p_l_30"><a @click="editEmail">修改邮箱</a></td>
                                <td v-if="(user.email == '') || (user.email == null)" class="p_l_30"><a @click="addEmail">添加邮箱</a></td>
                            </tr>
                            <tr>
                                <td>登录密码</td>
                                <td>**********</td>
                                <td class="p_l_30">
                                    <a @click="editPassword">修改登录密码</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button style="margin-left:100px" type="button" class="btn btn-primary btn-sm active">点击保存</button>
                    </td>
                </tr>
            </table>
        </div>
        <div style="display: none" class="funcToggle addressInfo">
            <div th:replace="staticPage/othersPage/addressInfoEdit"></div>
            <div class="saveAddressTag content_left">
                <i class="fa fa-exclamation-circle" style="color:#3bb3f1;font-size:18px "></i>
                <span>&nbsp;&nbsp;已保存{{addresses.length}}条数据</span>
            </div>
            <table class="layui-table" style="margin-top:20px">
                <colgroup>
                    <col style="width: 60px;">
                    <col style="width: 100px;">
                    <col style="width: 150px;">
                    <col style="width: 80px;">
                    <col style="width: 100px;">
                    <col style="width: 150px;">
                </colgroup>
                <thead>
                <tr>
                    <th>收货人</th>
                    <th>具体地址</th>
                    <th>详细地址</th>
                    <th>邮编</th>
                    <th>手机号</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="address in addresses">
                    <td>{{address.consignee}}</td>
                    <td>{{address.address}}</td>
                    <td>{{address.detail}}</td>
                    <td>{{address.post}}</td>
                    <td>{{address.phone}}</td>
                    <td>
                        <a @click="modify(address.id)">修改</a>&nbsp;|
                        <a @click="deleteAddress(address.id)">删除</a>&nbsp;|
                        <button @click="setDefault(address.id)" v-if="address.status == 'normal'" class="layui-btn layui-btn-radius layui-btn-normal layui-btn-xs">设为默认</button>
                        <span v-if="address.status == 'default'">默认地址</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
        $(function(){
            let dataVue = {
                url:"getProvinces",
                provinces:[],
                cities:[],
                counties:[],
                towns:[],
                address:{province:'', city:'', county:'',town:''},
                detail:'',
                consignee:'',
                phone:'',
                post:'',
                addresses:'',
                bean:[],
                img:null,
                imgPath:'',
                user:'',
                path:'',
                userInfo:{photo:'',nickname:'',realname:'', sex:'', address:null, detail:''}
            };
            $(function(){
                let vue = new Vue({
                    el:"#userInfo",
                    data:dataVue,
                    mounted:function(){
                        this.load();
                        axios.get("forecheckLogin").then(function(response){
                            if(response.data.code === 0){
                                let result = response.data;
                                vue.user = result.data;
                                console.log(vue.user)
                                vue.path = vue.user.photo;
                                vue.userInfo.nickname = vue.user.nickname;
                                vue.userInfo.realname = vue.user.realname;
                                vue.detail = vue.user.detail;
                                let sex = $(".sex");
                                let sexResult = vue.user.sex;
                                $.each(sex, function(index, value){
                                    value = $(value);
                                    if(index === 0 && sexResult === '男')
                                        value.prop("checked", "checked")
                                    else if(index === 1 && sexResult === '女')
                                        value.prop("checked", "checked")
                                    else if(index === 2 && sexResult === '保密')
                                        value.prop("checked", "checked")
                                });
                                let addressPlit = vue.user.address.split(" ")
                                vue.address.province = addressPlit[0];
                                vue.address.city = addressPlit[1];
                                vue.address.county = addressPlit[2];
                                vue.address.town = addressPlit[3];
                            }else{
                                location.href = "home";
                            }
                        })
                    },
                    watch:{
                        'address.province':{
                            handler:function(newVal, oldVal){
                                let url = "getCityByProvince?provinceName="+newVal;
                                axios.get(url).then(function(response){
                                    vue.cities = response.data;
                                });
                                if(this.address.county){
                                    vue.counties = null;
                                    vue.towns = null;
                                }
                            }
                        },
                        'address.city':{
                            handler:function(newVal, oldVal){
                                let url = "getCountyByCity?cityName="+newVal;
                                axios.get(url).then(function(response){
                                    vue.counties = response.data;
                                });
                                if(this.address.county){
                                    vue.towns = null;
                                }
                            }
                        },
                        'address.county':{
                            handler:function(newVal, oldVal){
                                let url = "getTownByCounty?countyName="+newVal;
                                axios.get(url).then(function(response){
                                    vue.towns = response.data;
                                })
                            }
                        }
                    },
                    methods:{
                        refreshAddress(){
                            let url = "getAddress";
                            axios.get(url).then(function(response){
                                let result = response.data;
                                if(result.code === 0){
                                    vue.addresses = result.data;
                                }else{
                                    location = "login";
                                }
                            })
                        },
                        load:function(){
                            let url = this.url;
                            axios.get(url).then(function(response){
                                vue.provinces = response.data;
                            });
                            this.refreshAddress();
                        },
                        submitAddress(){
                            if(!checkEmpty(this.address.province, "具体地址"))
                                return;
                            if(!checkEmpty(this.detail, "详细地址"))
                                return;
                            if(!checkEmpty(this.consignee, "收货人"))
                                return;
                            if(!checkEmpty(this.phone, "手机号"))
                                return;
                            let selectAddress = this.address.province+" "+
                                this.address.city+" "+this.address.county+" "
                                +this.address.town;
                            let status = "normal";
                            let setDefault = $("#setDefault").prop("checked");
                            if(setDefault){
                                status = "default";
                            }
                            myAddress = {consignee:this.consignee,address:selectAddress,
                                detail:this.detail, post:this.post, phone:this.phone, status:status};
                            let url = "setAddress";
                            axios.post(url, myAddress).then(function(response){
                                if(response.data.code === 0){
                                    vue.refreshAddress();
                                }else
                                    location.href = 'login';
                            })
                        },
                        setDefault(addressId){
                            let url = "setDefaultAddress?addressId="+addressId;
                            axios.get(url).then(function(response){
                                if(response.data.code === 1){
                                    location.href = "login";
                                }
                                vue.refreshAddress();
                            })
                        },
                        deleteAddress(addressId){
                            if(!checkDeleteLink())
                                return
                            let url = "deleteAddress?addressId="+addressId;
                            axios.get(url).then(function(){
                                vue.refreshAddress();
                            });
                        },
                        modify(addressId){
                            $("#editAddress").modal("show");
                            let url  = "getAddressById?addressId="+addressId;
                            axios.get(url).then(function(response){
                                vue.bean = response.data;
                            })
                        },
                        hideFunc(){
                            let funcToggle = $(".funcToggle")
                            funcToggle.hide()
                        },
                        myInfo(){
                            this.hideFunc();
                            $(".mainInfo").show();
                            let addressPlit = vue.user.address.split(" ")
                            console.log(addressPlit);
                            vue.address.province = addressPlit[0];
                            vue.address.city = addressPlit[1];
                            vue.address.county = addressPlit[2];
                            vue.address.town = addressPlit[3];
                        },
                        safeInfo(){
                            this.hideFunc();
                            $(".safeInfo").show();
                        },
                        addressInfo(){
                            this.hideFunc();
                            $(".addressInfo").show();
                            vue.address.province = "";
                            vue.address.city = "";
                            vue.address.county = "";
                            vue.address.town = "";
                            vue.detail = "";
                        },
                        getFile(event){
                            vue.img = event.target.files[0];
                            let fileObj = document.getElementById("changeImg").files[0];
                            const url = window.URL.createObjectURL(fileObj)
                            vue.path = url;
                        },
                        userInfoSave(){
                            if(!checkEmpty(this.userInfo.nickname, "昵称"))
                                return;

                            if(this.address.province === "" || this.address.city === "" || this.address.county === "" || this.address.town === ""){
                                alert("地址不能为空");
                                return;
                            }
                            if(!checkEmpty(this.detail, "详细地址"))
                                return;
                            let sex = $(".sex");
                            $.each(sex, function(index, value){
                                value = $(value);
                                let result = value.prop("checked");
                                if(index === 0 && result === true)
                                    vue.userInfo.sex = "男";
                                else if(index === 1 && result === true)
                                    vue.userInfo.sex = "女";
                                else if(index === 2 && result === true)
                                    vue.userInfo.sex = "保密";
                            })
                            if(!checkEmpty(this.userInfo.sex, "性别"))
                                return;
                            vue.userInfo.address = this.address.province + " " + this.address.city + " " + this.address.county + " " + this.address.town;
                            vue.userInfo.detail = this.detail;
                            let url = "userInfoImage";
                            let userInfo = this.userInfo;
                            let formData = new FormData();
                            formData.append("image", this.img)
                            axios.post(url, formData).then(function(response){

                            })
                            axios.post("userInfoMain", userInfo).then(function(response){
                                console.log(response.data);
                                alert("保存成功");
                                location.reload();
                            })
                        },
                        addPhone(){
                            location.href = "addPhone";
                        },
                        editPhone(){
                            location.href = "editPhone";
                        },
                        addEmail(){
                            location.href = "addEmail";
                        },
                        editEmail(){
                            location.href = "editEmail";
                        },
                        editPassword(){
                            location.href = "editPassword";
                        }
                    }
                })
            })
            $(function(){
                let vue = new Vue({
                    el:"#editAddress",
                    data:dataVue,
                    methods:{
                        refreshAddress(){
                            let url = "getAddress";
                            axios.get(url).then(function(response){
                                let result = response.data;
                                if(result.code === 0){
                                    vue.addresses = result.data;
                                }else{
                                    location = "login";
                                }
                            })
                        },
                        update(){
                            if(!checkEmpty(this.bean.address, "具体地址"))
                                return;
                            if(!checkEmpty(this.bean.detail, "详细地址"))
                                return;
                            if(!checkEmpty(this.bean.consignee, "收货人"))
                                return;
                            if(!checkEmpty(this.bean.phone, "手机号"))
                                return;
                            let address = this.bean.address;
                            if(this.address.province !== ''){
                                address = '';
                                address += (this.address.province + ' ');
                            }
                            if(this.address.city !== ''){
                                address += (this.address.city + ' ');
                            }
                            if(this.address.county !== ''){
                                address += (this.address.county + ' ');
                            }
                            if(this.address.town !== ''){
                                address += (this.address.town);
                            }
                            this.bean.address = address;
                            let url = "updateAddress";
                            let setDefault = $("#setDefault2").prop("checked");
                            if(setDefault){
                                this.bean.status = "default";
                            }else{
                                this.bean.status = "normal";
                            }
                            let editAddress = $("#editAddress");
                            axios.post(url, this.bean).then()
                            editAddress.modal("hide");
                            editAddress.on("hidden.bs.modal", function(){
                                vue.refreshAddress();
                            })
                        }
                    }
                })
            })
        })
    </script>
</div>