<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/lib::html">
    <title>注册</title>
</head>
<body>
<div th:replace="staticPage/publicPage/headNav::headNav"></div>
<div th:replace="staticPage/publicPage/simpleSearchBar::simpleSearchBar"></div>
<div th:replace="staticPage/othersPage/register_page::register_page"></div>
<div th:replace="staticPage/publicPage/pageFooter_1::pageFooter"></div>
<div th:replace="staticPage/publicPage/pageFooter_2::pageFooter"></div>
</body>
</html>