<div th:fragment="property">
    <div class="product_list">
        <div class="product_main">
            <div class="content" id="property">
                <div class="column_bar">
                    <div class="bar_left">
                        <span><i class="fa fa-flag"></i>&nbsp;属性管理</span>
                        <span><button data-toggle="modal" data-target="#addProperty">+新增属性</button></span>
                    </div>
                    <div class="bar_right">
                        <span><i class="fa fa-home"></i>&nbsp;当前位置：</span>
                        <span><a href="#">首页 >&nbsp;</a></span>
                        <span><a href="index">分类管理 >&nbsp;</a></span>
                        <span>{{category.name}}&nbsp;(属性管理)</span>
                    </div>
                </div>
                <div class="table_list">
                    <table>
                        <tr>
                            <th style="width: 50px">ID</th>
                            <th style="width: 250px">属性名称</th>
                            <th>操作</th>
                        </tr>
                        <tr v-for="bean in beans">
                            <td>{{bean.id}}</td>
                            <td>{{bean.name}}</td>
                            <td>
                                <div class="option_category">
                                    <a href="#" data-toggle="modal" data-target="#editProperty" @click="myId(bean.id)"><i title="编辑" style="color:#f27b1d" class="fa fa-pencil-square-o fa-lg"></i></a>
                                    <a href="#" @click="deleteBean(bean.id)"><i title="删除" style="color:#dd514c" class="fa fa-trash-o fa-lg"></i></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="page_attention">
                    <div class="dividePage">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li :class="{disabled:pagination.first}">
                                    <a href="#" aria-label="Previous" @click="jump('first')">
                                        <span aria-hidden="true">首页</span>
                                    </a>
                                </li>
                                <li :class="{disabled: !pagination.hasPrevious}">
                                    <a href="#" aria-label="Previous" @click="jump('pre')">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <li v-for="i in pagination.navigatepageNums"><a href="#" @click="jumpByNumber(i-1)">{{i}}</a></li>

                                <li :class="{disabled: !pagination.hasNext}">
                                    <a href="#" aria-label="Next" @click="jump('next')">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li :class="{disabled:pagination.last}">
                                    <a href="#" aria-label="Next" @click="jump('last')">
                                        <span aria-hidden="true">尾页</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="attention">注意事项：操作图标含义
                        <span style="color:#f27b1d" title="编辑">编辑&nbsp;<i class="fa fa-pencil-square-o fa-lg"></i></span>&nbsp;
                        <span style="color:#dd514c" title="删除">删除&nbsp;<i class="fa fa-trash-o fa-lg"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            let cid = getUrlParms("cid");
            let dataVue = {
                url:'properties',
                beans:[],
                bean:{id:0, name:'', category:{id:0}},
                pagination:{},
                category:''
            }
            $(function(){
                let vue = new Vue({
                    el:"#property",
                    data:dataVue,
                    mounted:function(){
                        if(cid === null)
                            return;
                        this.getCategory(cid);
                        this.list(0);
                    },
                    methods:{
                        myId:function(id){
                            let url = this.url + "/" + id +"/get";
                            axios.get(url).then(function(response){
                                vue.bean = response.data;
                                vue.category = vue.bean.category;
                            })
                        },
                        deleteBean:function(id){
                            if(!checkDeleteLink())
                                return;
                            let url = this.url + "/" + id;
                            axios.delete(url).then(function(response){
                                if(response.data.length !== 0)
                                    alert(response.data);
                                else
                                    vue.list(0);
                            })
                        },
                        getCategory:function(cid){
                            let url = "categories/"+cid;
                            axios.get(url).then(function(response){
                                vue.category = response.data;
                            })
                        },
                        list:function(start){
                            let url = this.url + "/" + cid +"?start="+start;
                            axios.get(url).then(function(response){
                                vue.pagination = response.data;
                                vue.beans = response.data.content;
                            })
                        },
                        jump: function (page) {
                            jump(page, vue);
                        },
                        jumpByNumber: function (start) {
                            jumpByNumber(start, vue);
                        }
                    }
                })
            })
            $(function(){
                let vue = new Vue({
                    el:"#editProperty",
                    data:dataVue,
                    methods:{
                        list:function(start){
                            let url = this.url + "/" + cid +"?start="+start;
                            axios.get(url).then(function(response){
                                vue.pagination = response.data;
                                vue.beans = response.data.content;
                            })
                        },
                        update:function(){
                            if(!checkEmpty(this.bean.name, "属性名称"))
                                return;
                            let url = this.url;
                            axios.put(url, vue.bean).then(function(response){
                                $('#editProperty').modal('hide');
                                this.list(0);
                            })
                        }
                    }
                })
            })
            $(function(){
                let vue = new Vue({
                    el:"#addProperty",
                    data:dataVue,
                    methods:{
                        list:function(start){
                            let url = this.url + "/" + cid +"?start="+start;
                            axios.get(url).then(function(response){
                                vue.pagination = response.data;
                                vue.beans = response.data.content;
                            })
                        },
                        add:function(){
                            if(!checkEmpty(this.bean.name, "属性名称"))
                                return;
                            let url = this.url;
                            this.bean.category.id = cid;
                            axios.post(url, this.bean).then(function(){
                                vue.list(0);
                                vue.bean = {id:0, name:'', category:{id:0}};
                                $('#addProperty').modal('hide');
                            })
                        }
                    }
                })
            })
        })
    </script>
</div>