<template th:fragment="html">
    <script th:src="@{js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{js/moment.js}"></script>
    <script th:src="@{js/vue.min.js}"></script>
    <script th:src="@{js/vue-router.min.js}"></script>
    <script th:src="@{js/axios.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{layui.js}"></script>
    <script th:src="@{js/index.js}"></script>
    <script th:src="@{js/foreJs.js}"></script>
    <link rel="stylesheet" th:href="@{font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/base.css}">
    <link rel="stylesheet" th:href="@{css/layui.css}">
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/foreCss.css}">
    <link rel="stylesheet" th:href="@{css/center_content.css}">
    <script>
        //判断是否为空
        function checkEmpty(value,text){

            if(null === value || value.length === 0){
                alert(text+ "不能为空");
                return false;
            }
            return true;
        }

        //获取地址栏参数的函数
        function getUrlParms(para){
            var search=location.search; //页面URL的查询部分字符串
            var arrPara=[]; //参数数组。数组单项为包含参数名和参数值的字符串，如“para=value”
            var arrVal=[]; //参数值数组。用于存储查找到的参数值

            if(search !== ""){
                var index=0;
                search=search.substring(1); //去除开头的“?”
                arrPara=search.split("&");

                for(let i in arrPara){
                    var paraPre=para+"="; //参数前缀。即参数名+“=”，如“para=”
                    if(arrPara[i].indexOf(paraPre) === 0&& paraPre.length<arrPara[i].length){
                        arrVal[index]=decodeURI(arrPara[i].substring(paraPre.length)); //顺带URI解码避免出现乱码
                        index++;
                    }
                }
            }

            if(arrVal.length === 1){
                return arrVal[0];
            }else if(arrVal.length === 0){
                return null;
            }else{
                return arrVal;
            }
        }

        //判断是否数字 (小数和整数)
        function checkNumber(value, text){

            if(value.length === 0){
                alert(text+ "不能为空");
                return false;
            }
            if(isNaN(value)){
                alert(text+ "必须是数字");
                return false;
            }
            return true;
        }
        //判断是否整数
        function checkInt(value, text){

            if(value.length === 0){
                alert(text+ "不能为空");
                return false;
            }
            if(parseInt(value) !== value){
                alert(text+ "必须是整数");
                return false;
            }
            return true;
        }

        //确实是否要删除
        function checkDeleteLink(){
            return confirm("确认要删除");

        }
        //跳转函数
        function jump(page,vue){
            if('first'=== page && !vue.pagination.first)
                vue.list(0);

            else if('pre'=== page && vue.pagination.hasPrevious)
                vue.list(vue.pagination.number-1);

            else if('next'=== page && vue.pagination.hasNext)
                vue.list(vue.pagination.number+1);

            else if('last' === page && !vue.pagination.last)
                vue.list(vue.pagination.totalPages-1);
        }
        //跳转函数
        function jumpByNumber(start,vue){
            if(start !== vue.pagination.number)
                vue.list(start);
        }
        function formatMoney(num){
            num = new String(num);
            num = num.toString().replace(/\$|\,/g,'');
            if(isNaN(num))
                num = "0";
            sign = (num == (num = Math.abs(num)));
            num = Math.floor(num*100+0.50000000001);
            cents = num%100;
            num = Math.floor(num/100).toString();
            if(cents<10)
                cents = "0" + cents;
            for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
                num = num.substring(0,num.length-(4*i+3))+','+
                    num.substring(num.length-(4*i+3));
            return (((sign)?'':'-') + num + '.' + cents);
        }
        function linkDefaultActions(){
            $("span.leaveMessageTextareaSpan").hide();
            $("img.leaveMessageImg").click(function(){
                $(this).hide();
                $("span.leaveMessageTextareaSpan").show();
                $("div.orderItemSumDiv").css("height","100px");
            });
            $("div#footer a[href$=#nowhere]").click(function(){
                alert("模仿天猫的连接，并没有跳转到实际的页面");
            });
            $("a.wangwanglink").click(function(){
                alert("模仿旺旺的图标，并不会打开旺旺");
            });

            $("a.notImplementLink").click(function(){
                alert("这个功能没做，蛤蛤~");
            });
        }

        Vue.filter("subStringFilter", function(value, start, end){
            if (!value)
                return '';
            return value.substring(start,end);
        });

        Vue.filter("formatMoneyFilter", function(value){
            return formatMoney(value);
        });

        Vue.filter('formatDateFilter', function (value, formatString) {
            if(null==value)
                return "";
            formatString = formatString || 'YYYY-MM-DD HH:mm:ss';
            return moment(value).format(formatString);
        });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</template>